{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- Start Header -->
    <div class="fables-header fables-after-overlay bg-rules">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">
                {% trans "Litsey haqida" %}
            </h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-gary-background">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="/" class="fables-second-text-color">{% trans "Asosiy" %}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Litsey haqida" %}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="row mt-4 my-md-5 overflow-hidden">
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                <div class="border p-4">
                    <div class="row text-center text-lg-left">
                        <div class="col-12 col-lg-3 mb-3 mb-md-0">
                            <span class="fables-iconlamp-icon fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-lg-9">
                            <h2 class="fables-second-text-color font-20 semi-font my-2 mb-lg-3 about-block-heading">
                                We’re Creative</h2>
                            <div class="font-15 fables-forth-text-color">
                                Lorem ipsum dolor sit amet
                                adipiscing elit. Aenean ac lorem pretium laoreet
                                enim at.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
                <div class="border p-4">
                    <div class="row text-center text-lg-left">
                        <div class="col-12 col-lg-3 mb-3 mb-md-0">
                            <span class="fables-icongears-icon fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-lg-9">
                            <h2 class="fables-second-text-color font-20 semi-font my-2 mb-lg-3 about-block-heading">
                                Highly Customizable</h2>
                            <div class="font-15 fables-forth-text-color">
                                Lorem ipsum dolor sit amet
                                adipiscing elit. Aenean ac lorem pretium laoreet
                                enim at.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
                <div class="border p-4">
                    <div class="row text-center text-lg-left">
                        <div class="col-12 col-lg-3 mb-3 mb-md-0">
                            <span class="fables-iconheadset-icon fables-second-text-color fa-3x"></span>
                        </div>
                        <div class="col-12 col-lg-9">
                            <h2 class="fables-second-text-color font-20 semi-font my-2 mb-lg-3 about-block-heading">
                                Efficient 24/7 support</h2>
                            <div class="font-15 fables-forth-text-color">
                                Lorem ipsum dolor sit amet
                                adipiscing elit. Aenean ac lorem pretium laoreet
                                enim at.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row overflow-hidden">
            <div class="col-12 col-md-6">
                <div class="image-container translate-effect-right">
                    <img src="{% static 'assets/custom/images/mission-img.jpg' %}" alt="Fables Template"
                         class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0">
                <span class="fables-iconrocket-icon fables-second-text-color fa-3x"></span>
                <h2 class="font-30 font-weight-bold fables-second-text-color my-4 d-inline-block d-lg-block wow fadeInRight"
                    data-wow-duration="1.5s">{% trans "Bizning maqsad" %}</h2>
                <div class="fables-vision-detail fables-forth-text-color wow fadeInRight" data-wow-duration="1.5s">

                    O‘zbekiston Respublikasi Prezidentining 2017 yil 26 sentyabrdagi PQ-3290-sonli qaroriga asosan 2018
                    yil 04 yanvardan Toshkent pediatriya tibbiyot instituti qoshidagi 2-son akademik lisey nomi Toshkent
                    davlat stomatologiya instituti akademik liseyiga o‘zgartirilgan.
                    <br> <br>

                </div>
            </div>
        </div>

    </div>

    <div class="fables-counter-section fables-after-overlay my-3 my-md-5 pt-4 pb-0 py-md-5 bg-rules">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                            data-count="336">0</h2>
                        <h3 class="font-14 semi-font text-white">{% trans "O'quvchilar soni" %}</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                            data-count="25">0</h2>
                        <h3 class="font-14 semi-font text-white">{% trans "O'qituvchilar soni" %}</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                            data-count="178">0</h2>
                        <h3 class="font-14 semi-font text-white">{% trans "Bitiruvchilar" %}</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="fables-counter">
                        <h2 class="fables-counter-value font-40 font-weight-bold mb-3 text-white border fables-second-border-color d-inline-block px-4 py-2 mb-4"
                            data-count="137">0%</h2>
                        <h3 class="font-14 semi-font text-white">{% trans "O'qishga kirganlar" %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row overflow-hidden">
            <div class="col-12 col-md-6">
                <span class="fables-iconvision-icon fables-second-text-color fa-4x"></span>
                <h2 class="font-30 font-weight-bold fables-second-text-color my-4 wow fadeInLeft d-inline d-lg-block"
                    data-wow-duration="1.5s">Bizning Qarashimiz</h2>
                <div class="fables-forth-text-color mt-4 wow fadeInLeft" data-wow-duration="1.5s">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. <br> <br>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0">
                <div class="image-container translate-effect-right">
                    <img src="{% static 'assets/custom/images/vision-img.jpg' %}" alt="Fables Template"
                         class="img-fluid">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme px-6 mt-0 mb-4 my-lg-5" id="fables-partner-carousel">
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-4.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-4.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>

            </div>
        </div>
    </div>

    <!--

    <div class="fables-testimonial fables-after-overlay my-4 my-md-5 py-4 py-md-5 bg-rules">
        <div class="container">
            <h2 class="position-relative z-index white-color font-35 font-weight-bold text-center mb-4">Testimonial</h2>
            <div class="owl-carousel owl-theme" id="fables-testimonial-carousel">
                <div class="row text-center fables-testimonial-carousel-item rounded py-4">
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template"
                             class="fables-testimonial-carousel-img">
                        <h3 class="font-14 semi-font text-white">Billy Richards</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative">
                            No matter what issue or questions pops up, you are always there to
                            assist me. Thank you so much for your excellent assistance and great
                            customer support through years.
                        </div>
                    </div>
                </div>
                <div class="row text-center fables-testimonial-carousel-item rounded py-4">
                    <div class="col-12 col-md-3">
                        <img src="{% static 'assets/custom/images/testimonial-img.png' %}" alt="Fables Template"
                             class="fables-testimonial-carousel-img">
                        <h3 class="font-14 semi-font text-white">Billy Richards</h3>
                        <h3 class="font-14 font-italic text-white mt-2">Chief Manager, Simba Co</h3>
                    </div>
                    <div class="col-12 col-md-9 p-0 p-md-2">
                        <div class="fables-testimonial-detail font-15 font-italic text-white p-4 position-relative">
                            No matter what issue or questions pops up, you are always there to
                            assist me. Thank you so much for your excellent assistance and great
                            customer support through years.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!--
    <div class="container">
        <div class="fables-team overflow-hidden">
            <h2 class="font-35 font-weight-bold fables-main-text-color mb-4 text-center">Team</h2>
            <div class="row my-4 my-lg-5">
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team3-1.jpg' %}"
                                             alt="Card image cap"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#"
                                   class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN
                                MARTIN</a></h5>
                            <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p>
                            <ul class="nav fables-team-social-links mt-3">
                                <li><a href="#" target="_blank"><span
                                        class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team3-2.jpg' %}"
                                             alt="Card image cap"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#"
                                   class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN
                                MARTIN</a></h5>
                            <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p>
                            <ul class="nav fables-team-social-links mt-3">
                                <li><a href="#" target="_blank"><span
                                        class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team3-1.jpg' %}"
                                             alt="Card image cap"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#"
                                   class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN
                                MARTIN</a></h5>
                            <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p>
                            <ul class="nav fables-team-social-links mt-3">
                                <li><a href="#" target="_blank"><span
                                        class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-3 wow bounceInDown" data-wow-delay=".3s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team3-2.jpg' %}"
                                             alt="Card image cap"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#"
                                   class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">JOHN
                                MARTIN</a></h5>
                            <p class="font-13 fables-forth-text-color my-1 font-italic">Programmer</p>
                            <ul class="nav fables-team-social-links mt-3">
                                <li><a href="#" target="_blank"><span
                                        class="fables-icongoogle-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="owl-carousel owl-theme px-6 mt-0 mb-4 my-lg-5" id="fables-partner-carousel">
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-4.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-3.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-4.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>

            </div>
        </div>
    </div>
    -->
    <!-- /End page content -->


    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/loadscreen/js/ju-loading-screen.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jQuery.countdown-master/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendor/timeline/jquery.timelify.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap-4-navbar.js' %}"></script>
    <script src="{% static 'assets/vendor/WOW-master/dist/wow.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/custom/js/jquery-data-to.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-circle-progress/circle.js' %}"></script>
    <script src="{% static 'assets/custom/js/custom.js' %}"></script>



{% endblock %}