{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}



    <!-- Start Breadcrumbs -->
    <div class="fables-light-background-color">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="{% url 'main:welcome' %}" class="fables-second-text-color">
                        {% trans "Asosiy" %}
                    </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->

    <!-- Start page content -->
    <div class="container">
        <div class="my-4 my-lg-4">
            <div class="owl-carousel owl-theme default-carousel nav-0 single-blog">
                <div>
                    <a href="#" target="_blank">
                        <img src="#" alt="" class="w-100">
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank">
                        <img src="#" alt="" class="w-100">
                    </a>
                </div>
                <div>
                    <a href="#" target="_blank">
                        <img src="#" alt="" class="w-100">
                    </a>
                </div>
            </div>
            <h2 class="font-23 semi-font">
                <a href="" class="fables-main-text-color fables-second-hover-color">
                    {{ page.title }}
                </a>
            </h2>
            <p class="fables-forth-text-color font-14 my-4">
                {{ page.content |safe }}
            </p>
            <div class="fables-forth-text-color fables-blog-date">
                <div class="row">
                    <div class="col-12 col-md-9 col-lg-10 pt-2">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 text-right mt-3 mt-md-0 text-center text-md-right">
                        <button class="btn btn-link fables-fifth-border-color fables-forth-hover-backround-color fables-forth-text-color "
                                onclick="window.print();"><span class="fables-iconprint"></span> Chop Etish
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row overflow-hidden">
            <div class="col-12 col-md-7 col-lg-8 wow fadeInRight" data-wow-delay=".8s">

            </div>
        </div>

    </div>
    <!-- /End page content -->


{% endblock %}

