{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


    <!-- Start Header -->
    <div class="fables-header fables-after-overlay">
        <div class="container">
            <h2 class="fables-page-title fables-second-border-color">{% trans "Ustozlar" %}</h2>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Breadcrumbs -->
    <div class="fables-light-gary-background">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="fables-breadcrumb breadcrumb px-0 py-3">
                    <li class="breadcrumb-item"><a href="{% url 'main:welcome' %}" class="fables-second-text-color">{% trans "Asosiy" %}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Ustozlar" %}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- /End Breadcrumbs -->


    <div class="container py-3 py-lg-5">
        <div class="fables-team my-3">
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-6 col-md-3 mb-4 mb-lg-5">
                        <div class="card fables-team-block fables-second-hover-text-color fables-team-border fables-second-border-color">
                            <div class="image-container shine-effect">
                                    <img class="w-100" src="{{ teacher.image.url }}" alt="Card image cap" height="350">
                            </div>
                            <div class="card-body">
                                <h5>
                                    <a href="#"
                                       class="font-20 semi-font fables-forth-text-color fables-second-hover-color team-name">
                                        {{ teacher.name }}
                                    </a>
                                </h5>
                                <p class="font-13 fables-forth-text-color my-1">
                                    {{ teacher.position }}
                                </p>
                                <ul class="nav fables-team-social-links">
                                    <li><a href="tel:{{ teacher.phone_number }}"><span
                                            class="fables-iconphone fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconwhatapp-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}