{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load django_template_maths %}
{% block content %}

    <!-- Start Header -->
    <div class="fables-header bg-white index-3-height bg-rules overflow-hidden">
        <div class="container position-relative z-index">
            <div class="row">
                <div class="col-12 col-lg-7 offset-lg-4 wow fadeInUpBig" data-wow-duration="2s">
                    <div class="index-3-height-caption">
                        <p class="font-30 fables-second-text-color">{% trans "Toshkent" %}</p>
                        <h1 class="fables-main-text-color bold-font mb-2 font-40">
                            {% trans "Davlat Stomatologiyasi Instituti" %}
                        </h1>
                        <p class="fables-forth-text-color font-22 mb-3">
                            {% trans "Tibbiyot Akademik litsey" %}
                        </p>
                        <a href="{% url 'main:contact_us' %}"
                           class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-4 py-2 white-color-hover">
                            {% trans "Biz bilan bog'lanish" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Service -->
    <div class="container-fluid my-0 my-lg-5">
        <div class="row">
            <div class="col-12 col-lg-2 p-0">
                <div class="text-center fables-main-background-color fables-sqr-rotation fables-second-border-color fables-sqr-rotation-services">
                    <div class="text-rotate">
                        <h2 class="text-white font-25">
                            {% trans "Bizning" %}
                            <br><span class="white-color font-40 bold-font mt-2 d-block">
                            {% trans "Yo'nalishlar" %}
                        </span>
                        </h2>
                        <p class="fables-third-text-color mt-4 mb-3 mb-lg-5">
                            {% trans "Akademik litseydagi mavjud yo'nalishlar" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 p-0">
                <div class="fables-index-services fables-after-overlay py-md-5 px-3 pr-md-4 pl-md-5 bg-rules sm-index-products mt-lg-0 mt-xl-5">
                    <div class="container z-index position-relative">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-2">
                                <div class="row">
                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay=".4s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconfile fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2"> {% trans "Tabbiy fanlar" %}</h2>
                                                <div class="font-14 text-white">
                                                    {% trans "Kimyo va Biologiya fanlari to'liq o'rgatiladi." %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay=".8s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconscreen fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2">
                                                    {% trans "Iltimoiy gumanitar" %}
                                                </h2>
                                                <div class="font-14 text-white">
                                                    {% trans "Bilogiya va Ona tili fanlari to'liq o'rgatiladi." %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service -->

    <!-- Start why choose us -->
    <div class="container-fluid">
        <div class="row mt-3 mt-md-5">
            <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden">
                <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">
                    {% trans "BIZNI" %}
                    <span class="fables-main-text-color">
                        {% trans "NEGA TANLAYSIZ" %}
                    </span>
                </h2>
                <p class="fables-forth-text-color my-3 wow fadeInLeft">
                    {% trans "Toshkent Davlat Stomatologiya Instituti Akademik Litseyida Tabiiy fanlar shu jumladan Kimyo va Biologiya fanlari chuqurlashtirilgan ravishda o'qitiladi. Bizni bitirgan o'quvchilar 86% izi Oliy o'quv yurtlariga o'qishga kirishadi. O'zbek va Rus tillarida fakultetlarimiz bor. Ta'lim maskanida darslar an'anaviy tazrda o'tkaziladi, o'quvchilarning tabbiy fanlarni chuqur egallashlari uchun yetarli sharoitlar yaratilgan. Labaratoriya xonalarida va ma'ruza xonalarida darslar olib boriladi." %}
                </p>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        {% trans "Ta'lim tashkiloti elektron pochtasi: " %} <a href="mailto:stomalitsey@gmail.com">stomalitsey@gmail.com</a>
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        {% trans "Talim tashkiloti sayti: " %}<a href="https://litsey.tsdi.uz/">litsey.tsdi.uz</a>
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        {% trans "Ishonch telefon nomeri: " %} <a href="tel:+998712353245">+998 71 235 32 45</a>
                    </p>
                </div>

                <a href="{% url 'main:about' %}"
                   class="btn fables-second-background-color white-color white-color-hover py-2 px-4 my-2 rounded-0 font-18">
                    {% trans "Ko'proq bilish" %}
                </a>

            </div>
            <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">
                <div class="choose-img-border-after fables-second-border-color position-relative">
                    <img src="{% static 'assets/custom/images/choose-us-index.jpg' %}" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <!-- End why choose us -->

    <!-- Start Overlay Caption -->
    <div class="fables-testimonial fables-after-overlay bg-rules py-4 py-md-5 mt-lg-5"
         style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center position-relative z-index wow zoomIn"
                     data-wow-duration="1.5s">
                    <h3 class="white-color mb-3 font-25 font-weight-bold">
                        {% trans "Toshkent Davlat Stomatologiya Instituti akademik litsey!!" %}

                    </h3>
                    <p class="z-index font-weight-light text-white fables-third-text-color">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac lorem pretium laoreet enim
                        at, malesuada Class aptent taciti sociosqu.
                    </p>
                    <a href="{% url 'main:contact_us' %}"
                       class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5 position-relative z-index">
                        {% trans "Biz bilan bog'lanish" %}
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- Start Overlay Caption -->

    <!-- Start Teachers -->
    <div class="container">
        <div class="fables-team overflow-hidden">
            <h2 class="font-35 font-weight-bold text-center fables-main-text-color my-4 my-lg-5">{% trans "Ustozlar" %}</h2>
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-6 col-md-3 wow fadeInDown mb-3" data-wow-delay=".3s">
                        <div class="card fables-team-block fables-second-hover-text-color">
                            <div class="image-container shine-effect">
                                <a href="{% url 'main:teacher' teacher.id %}">
                                    <img class="w-100" src="{{ teacher.image.url }}" alt="Fables Template">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5>
                                    <a href="#"
                                       class="font-19 semi-font fables-main-text-color team-name">
                                        {{ teacher.name }}
                                    </a>
                                </h5>
                                <p class="font-13 fables-fifth-text-color italic my-2">
                                    {{ teacher.position }}
                                </p>
                                <ul class="nav fables-team-social-links">
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconlinkedin-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>
    <!-- End Team -->

    <!-- Start Products Slider -->
    <div class="container-fluid my-4 my-md-5">
        <div class="row">
            <div class="col-12 col-lg-2 p-0">
                <div class="text-center fables-main-background-color fables-sqr-rotation fables-second-border-color">
                    <div class="text-rotate">
                        <h2 class="text-white font-25">{% trans "LITSEY" %} <br><span
                                class="white-color font-40 bold-font mt-2 d-block">{% trans "Ma'muriyati" %}</span>
                        </h2>
                        <p class="fables-third-text-color mt-4 mb-3 mb-lg-5">
                            {% trans "Akademik litsey Direktor va Zamdirektorllari" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 p-0">
                <div class="fables-index-products fables-after-overlay py-3 py-lg-5 pr-md-4 pl-md-5 bg-rules sm-index-products">
                    <div class="container z-index position-relative">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-2">
                                <div class="owl-carousel owl-theme dots-0 carousel-items-3 circle-nav mt-lg-4 mb-lg-5"
                                     id="blog-slider">
                                    {% for director in directors %}
                                        <div class="card rounded-0 border-light wow fadeIn mb-4 mb-lg-0"
                                             data-wow-delay="{{ forloop.counter|mul:2|flr:5 }}s">
                                            <div class="row">
                                                <div class="fables-product-img col-12">
                                                    <img class="card-img-top rounded-0 w-100"
                                                         src="{{ director.image.url }}" alt="dress fashion">
                                                    <div class="fables-img-overlay">
                                                        <ul class="nav fables-product-btns">
                                                            <li>
                                                                <a href="" class="fables-product-btn"><span
                                                                        class="fables-iconeye"></span></a></li>
                                                            <li>
                                                                <a href="" class="fables-product-btn"><span
                                                                        class="fables-iconcompare"></span></a></li>
                                                            <li>
                                                                <button class="fables-product-btn"><span
                                                                        class="fables-iconheart"></span></button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body col-12">
                                                    <h5 class="card-title mx-3">
                                                        <a href="{% url 'main:direktors' %}"
                                                           class="fables-main-text-color fables-store-product-title fables-second-hover-color">
                                                            {{ director.name }}
                                                        </a>
                                                    </h5>
                                                    <p class="card-text fables-fifth-text-color fables-store-product-details mx-3 store-card-text">
                                                        {{ director.position }}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <a href="{% url 'main:direktors' %}" class="btn white-color font-18 all-index-products fables-second-hover-color border-0 p-0
                                       position-absolute d-block pt-4 pt-md-0 z-index ">
                                    <span class="underline">{% trans "To'liq ko'rish" %}</span>
                                    <span class="fables-iconarrow-light ml-2 font-13"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Products Slider -->

    <!-- Start Latest Blog -->
    <div class="container">
        <div class="row overflow-hidden">
            <div class="col-12">
                <h2 class="font-35 bold-font fables-second-text-color mb-4 mb-md-5">{% trans "Eng So'ngi" %} <span
                        class="fables-main-text-color">{% trans "Yangiliklar" %}</span></h2>
            </div>
            {% for new in news %}

                <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInRight" data-wow-delay=".4s">
                    <div class="image-container rotateIn-effect">
                        <a href="{% url 'main:new' new.id %}" target="_blank">
                            <img src="{{ new.image.url }}" alt="" class="w-100">
                        </a>
                    </div>

                    <div class="py-2 fables-fifth-text-color float-left w-100 d-md-none d-lg-block">
                        <div class="float-left font-13">
                            <span class="fables-iconcalender"></span>
                            {{ new.create_at | date:"d F Y" }}
                        </div>
                        <div class="float-right font-13">
                            <span class="fables-iconnews"></span> {% trans "So'ngi yangilik" %}
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="fables-forth-text-color font-14 mb-2">
                        {{ new.title |slice:134 }}
                    </p>
                    <a href="{% url 'main:new' new.id %}"
                       class="btn fables-second-text-color fables-main-hover-color p-0">
                        <span class="underline">{% trans "Batafsil" %}</span>
                        <span class="fables-iconarrow-light ml-2"></span>
                    </a>
                </div>

            {% endfor %}

        </div>
        <a href="{% url 'main:news' %}"
           class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5 position-relative z-index">
            {% trans "Boshqa yangiliklar" %}
            <span class="fables-iconarrow-light ml-2"></span>

        </a>
    </div>
    <!-- End   Latest Blog -->

    <!-- Start Parteners Slider -->
    <div class="fables-light-background-color py-4 mt-4 mt-lg-5">
        <div class="container">
            <div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
                <div>
                    <a href="https://www.lex.uz/" target="_blank">
                        <img src="{% static 'images/partner/lex.png' %}" alt="Fables Template"
                             class="fables-partner-carousel-img">
                    </a>
                </div>
                <div>
                    <a href="https://ssv.uz/" target="_blank">
                        <img src="{% static 'images/partner/ssv.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://www.gov.uz/uz" target="_blank">
                        <img src="{% static 'images/partner/hportal.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://ziyonet.uz/" target="_blank">
                        <img src="{% static 'images/partner/ziyonet.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://my.gov.uz/" target="_blank">
                        <img src="{% static 'images/partner/interaktive.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://edu.uz/uz" target="_blank">
                        <img src="{% static 'images/partner/ortamaxsus.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://xarid.uzex.uz/" target="_blank">
                        <img src="{% static 'images/partner/uzex.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>

                </div>
                <div>
                    <a href="https://xt-xarid.uz/" target="_blank">
                        <img src="{% static 'images/partner/logotype.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>
                </div>
                <div>
                    <a href="https://www.colgate.ru/" target="_blank">
                        <img src="{% static 'images/partner/Colgate.png' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                    </a>
                </div>


            </div>
        </div>
    </div>
    <!-- End   Parteners Slider -->

{% endblock %}
