{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Start Header -->
    <div class="fables-header bg-white index-3-height bg-rules overflow-hidden">
        <div class="container position-relative z-index">
            <div class="row">
                <div class="col-12 col-lg-7 offset-lg-4 wow fadeInUpBig" data-wow-duration="2s">
                    <div class="index-3-height-caption">
                        <p class="font-30 fables-second-text-color">{% trans "Toshkent" %}</p>
                        <h1 class="fables-main-text-color bold-font mb-2 font-40">
                            {% trans "Davlat Stomatologiyasi Instituti qoshidagi" %}
                        </h1>
                        <p class="fables-forth-text-color font-22 mb-3">
                            {% trans "Tibbiyot Akademik litsey" %}
                        </p>
                        <a href="{% url 'main:contact_us' %}"
                           class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-4 py-2 white-color-hover">
                            {% trans "Biz bilan bog'lanish" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /End Header -->

    <!-- Start Service -->
    <div class="container-fluid my-0 my-lg-5">
        <div class="row">
            <div class="col-12 col-lg-2 p-0">
                <div class="text-center fables-main-background-color fables-sqr-rotation fables-second-border-color fables-sqr-rotation-services">
                    <div class="text-rotate">
                        <h2 class="text-white font-25">
                            {% trans "Bizning" %}
                            <br><span class="white-color font-40 bold-font mt-2 d-block">
                            {% trans "Yo'nalishlar" %}
                        </span>
                        </h2>
                        <p class="fables-third-text-color mt-4 mb-3 mb-lg-5">
                            {% trans "Akademik litseydagi mavjud yo'nalishlar" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 p-0">
                <div class="fables-index-services fables-after-overlay py-md-5 px-3 pr-md-4 pl-md-5 bg-rules sm-index-products mt-lg-0 mt-xl-5">
                    <div class="container z-index position-relative">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-2">
                                <div class="row">
                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay=".4s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconfile fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2"> {% trans "Tabbiy fanlar" %}</h2>
                                                <div class="font-14 text-white">
                                                    {% trans "Astronomiya | Biologiya | Kimyo | Geografiya | Fizika kabi fanlar to'liq o'rgatiladi." %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay=".8s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconscreen fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2">
                                                    {% trans "Ilmiy fanlar" %}
                                                </h2>
                                                <div class="font-14 text-white">
                                                    Lorem ipsum dolor sit amet adipiscing elit. Aenean ac lorem pretium
                                                    laoreet enim at.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay="1.2s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconfile fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2">
                                                    {% trans "Aniq fanlar" %}
                                                </h2>
                                                <div class="font-14 text-white">
                                                    Lorem ipsum dolor sit amet adipiscing elit. Aenean ac lorem pretium
                                                    laoreet enim at.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown"
                                         data-wow-delay="1.6s">
                                        <div class="row text-center text-md-left">
                                            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                <span class="fables-iconhead-set-light fables-second-text-color font-40"></span>
                                            </div>
                                            <div class="col-12 col-md-9 pl-md-0">
                                                <h2 class="text-white font-19 semi-font mb-2">Free Updates &
                                                    Support</h2>
                                                <div class="font-14 text-white">
                                                    Lorem ipsum dolor sit amet adipiscing elit. Aenean ac lorem pretium
                                                    laoreet enim at.
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service -->

    <!-- Start why choose us -->
    <div class="container-fluid">
        <div class="row mt-3 mt-md-5">
            <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden">
                <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft">
                    {% trans "BIZNI" %}
                    <span class="fables-main-text-color">
                        {% trans "NEGA TANLAYSIZ" %}
                    </span>
                </h2>
                <p class="fables-forth-text-color my-3 wow fadeInLeft">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor purus ac tellus auctor
                    auctor.
                    Nulla tincidunt lobortis aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    porttitor purus ac tellus auctor auctor. Nulla tincidunt lobortis aliquam.
                </p>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        Lorem ipsum dolor sit amet adipiscing elit.tur adipiscing elit.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        Lorem ipsum dolor sit amet adipiscing elit.tur adipiscing elit.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        Lorem ipsum dolor sit amet adipiscing elit.tur adipiscing elit.
                    </p>
                </div>
                <div class="position-relative mb-3 wow bounceInDown">
                    <p class="fables-fifth-text-color">
                        <span class="fables-iconDiagonal-arrow"></span>
                        Lorem ipsum dolor sit amet adipiscing elit.tur adipiscing elit.
                    </p>
                </div>
                <a href="{% url 'main:about' %}"
                   class="btn fables-second-background-color white-color white-color-hover py-2 px-4 my-2 rounded-0 font-18">
                    Ko'proq bilish
                </a>

            </div>
            <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">
                <div class="choose-img-border-after fables-second-border-color position-relative">
                    <img src="{% static 'assets/custom/images/choose-us-index.jpg' %}" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <!-- End why choose us -->

    <!-- Start Overlay Caption -->
    <div class="fables-testimonial fables-after-overlay bg-rules py-4 py-md-5 mt-lg-5"
         style="background-image: url({% static 'assets/custom/images/index2-overlay.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center position-relative z-index wow zoomIn"
                     data-wow-duration="1.5s">
                    <h3 class="white-color mb-3 font-25 font-weight-bold">
                        {% trans "Toshkent Davlat Stomatologiya Instituti akademik litsey!!" %}

                    </h3>
                    <p class="z-index font-weight-light text-white fables-third-text-color">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac lorem pretium laoreet enim
                        at, malesuada Class aptent taciti sociosqu.
                    </p>
                    <a href="{% url 'main:contact_us' %}"
                       class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5 position-relative z-index">
                        {% trans "Biz bilan bog'lanish" %}
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- Start Overlay Caption -->

    <!-- Start Team -->
    <div class="container">
        <div class="fables-team overflow-hidden">
            <h2 class="font-35 font-weight-bold text-center fables-main-text-color my-4 my-lg-5">{% trans "Ustozlar" %}</h2>
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-6 col-md-3 wow fadeInDown mb-3" data-wow-delay=".3s">
                        <div class="card fables-team-block fables-second-hover-text-color">
                            <div class="image-container shine-effect">
                                <a href="{% url 'main:teacher' teacher.id %}">
                                    <img class="w-100" src="{{ teacher.image.url }}" alt="Fables Template">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5>
                                    <a href="{% url 'main:teacher' teacher.id %}"
                                       class="font-19 semi-font fables-main-text-color team-name">
                                        {{ teacher.name }}
                                    </a>
                                </h5>
                                <p class="font-13 fables-fifth-text-color italic my-2">
                                    {{ teacher.position }}
                                </p>
                                <ul class="nav fables-team-social-links">
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconlinkedin-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><span
                                            class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-6 col-md-3 wow fadeInDown mb-3" data-wow-delay=".6s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team2-2.jpg' %}"
                                             alt="Fables Template"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#" class="font-19 semi-font fables-main-text-color team-name">JOHN MARTIN</a>
                            </h5>
                            <p class="font-13 fables-fifth-text-color italic my-2">Programmer</p>
                            <ul class="nav fables-team-social-links">
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconlinkedin-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 wow fadeInDown mb-3" data-wow-delay=".9s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team2-1.jpg' %}"
                                             alt="Fables Template"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#" class="font-19 semi-font fables-main-text-color team-name">JOHN MARTIN</a>
                            </h5>
                            <p class="font-13 fables-fifth-text-color italic my-2">Programmer</p>
                            <ul class="nav fables-team-social-links">
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconlinkedin-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 wow fadeInDown mb-3" data-wow-delay="1.2s">
                    <div class="card fables-team-block fables-second-hover-text-color">
                        <div class="image-container shine-effect">
                            <a href="#"><img class="w-100" src="{% static 'assets/custom/images/team2-2.jpg' %}"
                                             alt="Fables Template"></a>
                        </div>

                        <div class="card-body">
                            <h5><a href="#" class="font-19 semi-font fables-main-text-color team-name">JOHN MARTIN</a>
                            </h5>
                            <p class="font-13 fables-fifth-text-color italic my-2">Programmer</p>
                            <ul class="nav fables-team-social-links">
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconlinkedin-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-icontwitter-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                                <li><a href="#" target="_blank"><span
                                        class="fables-iconinstagram-icon fables-forth-text-color fables-fifth-border-color fables-team-social-icon"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Team -->

    <!-- Start Products Slider -->
    <div class="container-fluid my-4 my-md-5">
        <div class="row">
            <div class="col-12 col-lg-2 p-0">
                <div class="text-center fables-main-background-color fables-sqr-rotation fables-second-border-color">
                    <div class="text-rotate">
                        <h2 class="text-white font-25">{% trans "LITSEY" %} <br><span
                                class="white-color font-40 bold-font mt-2 d-block">{% trans "Ma'muriyati" %}</span>
                        </h2>
                        <p class="fables-third-text-color mt-4 mb-3 mb-lg-5">
                            {% trans "Akademik litsey Direktor va Zamdirektorllari" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-10 p-0">
                <div class="fables-index-products fables-after-overlay py-3 py-lg-5 pr-md-4 pl-md-5 bg-rules sm-index-products">
                    <div class="container z-index position-relative">
                        <div class="row">
                            <div class="col-12 col-lg-10 offset-lg-2">
                                {% for director in directors %}
                                    <div class="owl-carousel owl-theme dots-0 carousel-items-3 circle-nav mt-lg-4 mb-lg-5"
                                         id="blog-slider">
                                        <div class="card rounded-0 border-light wow fadeIn mb-4 mb-lg-0"
                                             data-wow-delay=".4s">
                                            <div class="row">
                                                <div class="fables-product-img col-12">
                                                    <img class="card-img-top rounded-0 w-100"
                                                         src="{{ director.image.url }}" alt="dress fashion">
                                                    <div class="fables-img-overlay">
                                                        <ul class="nav fables-product-btns">
                                                            <li>
                                                                <a href="" class="fables-product-btn"><span
                                                                        class="fables-iconeye"></span></a></li>
                                                            <li>
                                                                <a href="" class="fables-product-btn"><span
                                                                        class="fables-iconcompare"></span></a></li>
                                                            <li>
                                                                <button class="fables-product-btn"><span
                                                                        class="fables-iconheart"></span></button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body col-12">
                                                    <h5 class="card-title mx-3">
                                                        <a href="{% url 'main:direktors' %}"
                                                           class="fables-main-text-color fables-store-product-title fables-second-hover-color">
                                                            {{ director.name }}
                                                        </a>
                                                    </h5>
                                                    <p class="card-text fables-fifth-text-color fables-store-product-details mx-3 store-card-text">
                                                        {{ director.position }}
                                                    </p>

                                                    <p class="fables-product-info my-2">
                                                        <a href="{% url 'main:direktors' %}"
                                                           class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-15">

                                                            <span class="fables-btn-value">BATAFSIL O'QISH</span></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <a href="{% url 'main:direktors' %}" class="btn white-color font-18 all-index-products fables-second-hover-color border-0 p-0
                                       position-absolute d-block pt-4 pt-md-0 z-index ">
                                    <span class="underline">To'liq ko'rish</span>
                                    <span class="fables-iconarrow-light ml-2 font-13"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Products Slider -->

    <!-- Start Latest Blog -->
    <div class="container">
        <div class="row overflow-hidden">
            <div class="col-12">
                <h2 class="font-35 bold-font fables-second-text-color mb-4 mb-md-5">Eng So'ngi <span
                        class="fables-main-text-color">Yangiliklar</span></h2>
            </div>
            {% for new in news %}

                <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInRight" data-wow-delay=".4s">
                    <div class="image-container rotateIn-effect">
                        <a href="{% url 'main:new' new.id %}" target="_blank">
                            <img src="{{ new.image.url }}" alt="" class="w-100">
                        </a>
                    </div>

                    <div class="py-2 fables-fifth-text-color float-left w-100 d-md-none d-lg-block">
                        <div class="float-left font-13">
                            <span class="fables-iconcalender"></span> December 27, 2017
                        </div>
                        <div class="float-right font-13">
                            <span class="fables-iconnews"></span> Latest News
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="fables-forth-text-color font-14 mb-2">
                        {{ new.title |slice:134 }}
                    </p>
                    <a href="{% url 'main:new' new.id %}"
                       class="btn fables-second-text-color fables-main-hover-color p-0">
                        <span class="underline">To'liq o'qish</span>
                        <span class="fables-iconarrow-light ml-2"></span>
                    </a>
                </div>

            {% endfor %}

        </div>
        <a href="{% url 'main:news' %}"
           class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5 position-relative z-index">
            Boshqa yangiliklar
        </a>
    </div>
    <!-- End   Latest Blog -->

    <!-- Start Parteners Slider -->
    <div class="fables-light-background-color py-4 mt-4 mt-lg-5">
        <div class="container">
            <div class="owl-carousel owl-theme nav-0 carousel-items-6 dots-0">
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-1.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>
                <div>
                    <img src="{% static 'assets/custom/images/partner2-2.jpg' %}" alt="Fables Template"
                         class="fables-partner-carousel-img">
                </div>

            </div>
        </div>
    </div>
    <!-- End   Parteners Slider -->




{% endblock %}



{#    #}
{#    <!--menu end-->#}
{#    <!-- header-slider-area start -->   <!-- Welcome  -->#}
{#    <section class="header-slider-area">#}
{#        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">#}
{##}
{#            <!-- Indicators -->#}
{#            <ol class="carousel-indicators">#}
{#                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#                <li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
{#            </ol>#}
{##}
{#            <!-- Wrapper for slides -->#}
{#            <div class="carousel-inner" role="listbox">#}
{#                <div class="item active">#}
{#                    <div class="single-slide-item slide-1">#}
{#                        <div class="container">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-12">#}
{#                                    <div class="single-slide-item-content">#}
{#                                        <h2>{% trans 'Tibbiyot' %} <br> {% trans 'Akademik Litseyi' %}</h2>#}
{#                                        <p>#}
{#                                            {% trans 'Toshkent davlat Stomotologiya Instituti qoshidagi Akademik litsey' %}#}
{#                                        </p>#}
{#                                        <a href="{% url 'main:page' 'biz_haqimizda' %}">#}
{#                                            <button type="button" class="slide-btn">#}
{#                                                {% trans 'Biz haqimizda' %}#}
{#                                            </button>#}
{#                                        </a>#}
{#                                        <a href="{% url 'main:page' 'biz_bilan_boglanish' %}">#}
{#                                            <button type="button" class="slide-btn">#}
{#                                                {% trans 'Biz bilan bog`lanish' %}#}
{#                                            </button>#}
{#                                        </a>#}
{#                                    </div><!-- /.single-slide-item-content-->#}
{#                                </div><!-- /.col-->#}
{#                            </div><!-- /.row-->#}
{#                        </div><!-- /.container-->#}
{#                    </div><!-- /.single-slide-item-->#}
{#                </div><!-- /.item .active-->#}
{#                <div class="item">#}
{#                    <div class="single-slide-item slide-2">#}
{#                        <div class="container">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-12">#}
{#                                    <div class="single-slide-item-content">#}
{#                                        <h2>Tibbiyot <br> Akademik Litseyi</h2>#}
{#                                        <p>#}
{#                                            {% trans 'Toshkent davlat Stomotologiya Instituti qoshidagi Akademik litsey' %}#}
{##}
{#                                        </p>#}
{#                                        <a href="{% url 'main:page' 'biz_haqimizda' %}">#}
{#                                            <button type="button" class="slide-btn">#}
{#                                                {% trans 'Biz haqimizda' %}#}
{#                                            </button>#}
{#                                        </a>#}
{#                                        <a href="{% url 'main:page' 'biz_bilan_boglanish' %}">#}
{#                                            <button type="button" class="slide-btn">#}
{#                                                {% trans 'Biz bilan bog`lanish' %}#}
{#                                            </button>#}
{#                                        </a>#}
{##}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div><!-- /.carousel-inner-->#}
{##}
{#            <!-- Controls -->#}
{#            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
{#                <span class="lnr lnr-chevron-left"></span>#}
{#            </a>#}
{#            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
{#                <span class="lnr lnr-chevron-right"></span>#}
{#            </a>#}
{#        </div><!-- /.carousel-->#}
{##}
{#    </section><!-- /.header-slider-area-->#}
{#    <!-- header-slider-area end -->#}
{#    <!--we-do start -->  <!-- Litsey yo'nalishlari  -->#}
{#    <section class="we-do">#}
{#        <div class="container">#}
{#            <div class="we-do-details">#}
{#                <div class="section-header text-center">#}
{#                    <h2>{% trans 'Akademik litseyda mavjud yo`nalishlar' %}</h2>#}
{#                    <p>#}
{#                        {% trans 'Akademik litseyda quyidagi n ta yo`nalishlar mavjud bo`lib, dars jarayonlarida har bir yo`nalish o`ziga xos ixtisoslashtirilgan fanlarni chuqurlashtirib olib boradi.' %}#}
{#                    </p>#}
{#                </div><!--/.section-header-->#}
{#                <div class="we-do-carousel">#}
{#                    <div class="row">#}
{#                        <div class="col-sm-4 col-xs-12">#}
{#                            <div class="single-we-do-box text-center minh">#}
{#                                <div class="we-do-description yp">#}
{#                                    <div class="we-do-info">#}
{#                                        <div class="we-do-img">#}
{#                                            <img src="{% static 'images/home/consultency.png' %}"#}
{#                                                 alt="image of consultency"/>#}
{#                                        </div><!--/.we-do-img-->#}
{#                                        <div class="we-do-topics">#}
{#                                            <h2>#}
{#                                                <a>#}
{#                                                    {% trans 'Tabiiy fanlar' %}#}
{#                                                </a>#}
{#                                            </h2>#}
{#                                        </div><!--/.we-do-topics-->#}
{#                                    </div><!--/.we-do-info-->#}
{#                                </div><!--/.we-do-description-->#}
{#                            </div><!--/.single-we-do-box-->#}
{#                        </div><!--/.col-->#}
{#                        <div class="col-sm-4 col-xs-12">#}
{#                            <div class="single-we-do-box text-center minh">#}
{#                                <div class="we-do-description yp">#}
{#                                    <div class="we-do-info">#}
{#                                        <div class="we-do-img">#}
{#                                            <img src="{% static 'images/home/busisness_grow.png' %}"#}
{#                                                 alt="image of business"/>#}
{#                                        </div><!--/.we-do-img-->#}
{#                                        <div class="we-do-topics">#}
{#                                            <h2>#}
{#                                                <a>#}
{#                                                    {% trans 'Ijtimoiy fanlar' %}#}
{#                                                </a>#}
{#                                            </h2>#}
{#                                        </div><!--/.we-do-topics-->#}
{#                                    </div><!--/.we-do-info-->#}
{#                                </div><!--/.we-do-description-->#}
{#                            </div><!--/.single-we-do-box-->#}
{#                        </div><!--/.col-->#}
{#                        <div class="col-sm-4 col-xs-12">#}
{#                            <div class="single-we-do-box text-center minh">#}
{#                                <div class="we-do-description yp">#}
{#                                    <div class="we-do-info">#}
{#                                        <div class="we-do-img">#}
{#                                            <img src="{% static 'images/home/support-logo.png' %}"#}
{#                                                 alt="image of support"/>#}
{#                                        </div><!--/.we-do-img-->#}
{#                                        <div class="we-do-topics">#}
{#                                            <h2>#}
{#                                                <a>#}
{#                                                    {% trans 'Aniq fanlar' %}#}
{#                                                </a>#}
{#                                            </h2>#}
{#                                        </div><!--/.we-do-topics-->#}
{#                                    </div><!--/.we-do-info-->#}
{#                                </div><!--/.we-do-description-->#}
{#                            </div><!--/.single-we-do-box-->#}
{#                        </div><!--/.col-->#}
{#                    </div><!--/.row-->#}
{#                </div><!--/.we-do-carousel-->#}
{#            </div><!--/.we-do-details-->#}
{#        </div><!--/.container-->#}
{#    </section><!--/.we-do-->#}
{#    <!--we-do end-->#}
{#    <!--about-us start -->  <!-- Welcome page -->#}
{#    <section class="about-us">#}
{#        <div class="container">#}
{#            <div class="about-us-content">#}
{#                <div class="row">#}
{#                    <div class="col-sm-6">#}
{#                        <div class="single-about-us">#}
{#                            <div class="about-us-txt">#}
{#                                <h2>{% trans 'Akademik litsey' %}</h2>#}
{#                                <p>{% trans 'Toshkent davlat stomatologiya instituti akademik litseyi 2017 yil 18 noyabrda Toshkent pediatriya tibbiyot instituti 2-son akademik litseyi bazasida tashkil topgan. Akademik litsey tabiiy fanlar yo‘nalishiga ixtisoslashtirilgan. Akademik litseyda ta’lim olish o‘quvchilarga o‘z bilimlarini chuqurlashtirish va tanlagan ixtisosliklariga ega bo‘lishni ta’minlaydi. Akademik litsey bitiruvchilariga davlat tomonidan tasdiqlangan diplom beriladi.Akademik litseydaning o‘quvchilariga, birinchi navbatda iqtidorli, yuksak iste’dod sohiblariga, bilimning tegishli sohalari va fanning aniq yo‘nalishilari bo‘yicha o‘z tabiiy qobiliyatlarni namoyon etish va rivojlantirish, o‘zlaridagi noyob iste’dodni ro‘yobga chiqarish uchun keng imkoniyatlar yaratiladi.' %}</p>#}
{#                                <div class="project-btn">#}
{#                                    <a href="{% url 'main:page' 'litsey_haqida' %}" class="project-view">#}
{#                                        {% trans 'Batafsil o`qish' %}#}
{#                                    </a>#}
{#                                </div><!--/.project-btn-->#}
{#                            </div><!--/.about-us-txt-->#}
{#                        </div><!--/.single-about-us-->#}
{#                    </div><!--/.col-->#}
{#                    <div class="col-sm-6">#}
{#                        <div class="single-about-us">#}
{#                            <div class="about-us-img">#}
{#                                <img src="{% static 'images/about/about-part.jpg' %}" alt="about images">#}
{#                            </div><!--/.about-us-img-->#}
{#                        </div><!--/.single-about-us-->#}
{#                    </div><!--/.col-->#}
{#                </div><!--/.row-->#}
{#            </div><!--/.about-us-content-->#}
{#        </div><!--/.container-->#}
{#    </section><!--/.about-us-->#}
{#    <!--about-us end -->#}
{##}
{#    <!--Leadership start -->  <!-- direktor zamdirektorlar -->#}
{#    <section class="team">#}
{#        <div class="container">#}
{#            <div class="team-details">#}
{#                <div class="project-header team-header text-left">#}
{#                    <h2>{% trans 'Rahbariyat' %}</h2>#}
{#                    <p>#}
{#                        {% trans 'Akademik litsey Rahbariyat xodimlari' %}#}
{#                    </p>#}
{#                </div><!--/.project-header-->#}
{#                <div class="team-card">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="owl-carousel team-carousel">#}
{#                                {% for director in directors %}#}
{#                                    <div class="col-sm-3 col-xs-12">#}
{#                                        <div class="single-team-box team-box-bg-1">#}
{#                                            <img src="{{ director.image.url }}" alt="image"/>#}
{#                                            <div class="team-box-inner">#}
{#                                                <h3>{{ director.name }}</h3>#}
{#                                                <p class="team-meta">{{ director.position }}</p>#}
{#                                            </div><!--/.team-box-inner-->#}
{#                                        </div><!--/.single-team-box-->#}
{#                                    </div><!--.col-->#}
{#                                {% endfor %}#}
{#                            </div><!--/.team-carousel-->#}
{#                        </div><!--/.row-->#}
{#                    </div><!--/.container-->#}
{#                </div><!--/.team-card-->#}
{#            </div><!--/.team-details-->#}
{#        </div><!--/.container-->#}
{#    </section><!--/.team-->#}
{#    <!--team end-->#}
{#    <!--project start-->   <!-- Yangiliklar  -->#}
{#    <section id="project" class="project">#}
{#        <div class="container">#}
{#            <div class="project-details">#}
{#                <div class="project-header text-left">#}
{#                    <h2>{% trans 'Yangilik va e`lonlar' %}</h2>#}
{#                    <p>#}
{#                        {% trans 'Akademik litseyga oid yangilik va elonlar' %}#}
{#                    </p>#}
{#                </div><!--/.project-header-->#}
{#                <div class="project-content">#}
{#                    <div class="gallery-content">#}
{#                        <div class="isotope">#}
{#                            <div class="row">#}
{#                                {% for new in news %}#}
{#                                    <div class="col-sm-12">#}
{#                                        <div class="row">#}
{#                                            <div class="col-sm-4">#}
{#                                                <div class="single-news-box news-mb-20 ws-newbox">#}
{#                                                    <div class="news-box-bg ws-new" style="height:auto">#}
{#                                                        <img src="{{ new.image.url }}" alt="blog image">#}
{#                                                    </div><!--/.team-box-bg-->#}
{#                                                    <div class="news-box-inner">#}
{#                                                        <h3>#}
{#                                                            <a href="{% url 'main:new' new.id %}">#}
{#                                                                {{ new.title |slice:106 }}#}
{#                                                            </a>#}
{#                                                        </h3>#}
{#                                                    </div><!--/.news-box-inner-->#}
{#                                                </div><!--/.single-news-box-->#}
{#                                            </div>#}
{#                                        </div><!-- /.row-->#}
{#                                    </div><!-- /.col -->#}
{#                                {% endfor %}#}
{#                            </div><!-- /.row -->#}
{#                        </div><!--/.isotope-->#}
{#                        <a href="{% url 'main:news' %}" class="project-view">#}
{#                            {% trans "ko'proq o'qish" %}#}
{#                        </a>#}
{#                    </div><!--/.gallery-content-->#}
{#                </div><!--/.project-content-->#}
{#            </div><!--/.project-details-->#}
{#        </div><!--/.container-->#}
{##}
{#    </section><!--/.project-->#}
{#    <!--project end-->#}
{##}
{#    <!--statistics start-->#}
{#    <section class="statistics">#}
{#        <div class="container">#}
{#            <div class="statistics-counter ">#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <div class="single-ststistics-box">#}
{#                        <div class="statistics-img">#}
{#                            <img src="{% static 'images/counter/counter1.png' %}" alt="counter-icon"/>#}
{#                        </div><!--/.statistics-img-->#}
{#                        <div class="statistics-content">#}
{#                            <div class="counter">2556</div>#}
{#                            <h3>{% trans 'Fakultetlar' %}</h3>#}
{#                        </div><!--/.statistics-content-->#}
{#                    </div><!--/.single-ststistics-box-->#}
{#                </div><!--/.col-->#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <div class="single-ststistics-box">#}
{#                        <div class="statistics-img">#}
{#                            <img src="{% static 'images/counter/counter2.png' %}" alt="counter-icon"/>#}
{#                        </div><!--/.statistics-img-->#}
{#                        <div class="statistics-content">#}
{#                            <div class="counter">326</div>#}
{#                            <h3>{% trans 'Pedagoglar' %}</h3>#}
{#                        </div><!--/.statistics-content-->#}
{#                    </div><!--/.single-ststistics-box-->#}
{#                </div><!--/.col-->#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <div class="single-ststistics-box">#}
{#                        <div class="statistics-img">#}
{#                            <img src="{% static 'images/counter/counter3.png' %}" alt="counter-icon"/>#}
{#                        </div><!--/.statistics-img-->#}
{#                        <div class="statistics-content">#}
{#                            <div class="counter">1526</div>#}
{#                            <h3>{% trans "O'quvchilar" %}</h3>#}
{#                        </div><!--/.statistics-content-->#}
{#                    </div><!--/.single-ststistics-box-->#}
{#                </div><!--/.col-->#}
{#                <div class="col-md-3 col-sm-6">#}
{#                    <div class="single-ststistics-box">#}
{#                        <div class="statistics-img">#}
{#                            <img src="{% static 'images/counter/counter4.png' %}" alt="counter-icon"/>#}
{#                        </div><!--/.statistics-img-->#}
{#                        <div class="statistics-content">#}
{#                            <div class="counter">856</div>#}
{#                            <h3>{% trans 'Bitiruvchilar' %}</h3>#}
{#                        </div><!--/.statistics-content-->#}
{#                    </div><!--/.single-ststistics-box-->#}
{#                </div><!--/.col-->#}
{#            </div><!--/.statistics-counter-->#}
{#        </div><!--/.container-->#}
{##}
{#    </section><!--/.statistics-->#}
{#    <!--statistics end-->#}
{##}
{#    <!--teachers start-->  <!-- Ustozlar -->#}
{#    <section class="service">#}
{#        <div class="container">#}
{#            <div class="service-details">#}
{#                <div class="section-header text-center">#}
{#                    <h2 class="ws-title">{% trans 'Akademik litsey ma`muriyati' %}</h2>#}
{#                </div><!--/.section-header-->#}
{#                <div class="service-content-one">#}
{#                    <div class="row">#}
{#                        {% for teacher in teachers %}#}
{#                            <div class="col-sm-4 col-xs-12">#}
{#                                <div class="service-single text-center">#}
{#                                    <div class="service-img">#}
{#                                        <img src="{{ teacher.image.url }}"#}
{#                                             alt="image of service"/>#}
{#                                    </div><!--/.service-img-->#}
{#                                    <div class="service-txt">#}
{#                                        <h2>#}
{#                                            <a href="{% url 'main:teacher' teacher.id %}">{{ teacher.name }}</a>#}
{#                                        </h2>#}
{#                                        <p>{{ teacher.position }}</p>#}
{#                                    </div><!--/.service-txt-->#}
{#                                </div><!--/.service-single-->#}
{#                            </div><!--/.col-->#}
{#                        {% endfor %}#}
{#                        <a href="{% url 'main:teachers' %}" class="project-view">#}
{#                            {% trans "Batafsil ko'rish" %}#}
{#                        </a>#}
{#                    </div><!--/.row-->#}
{##}
{#                </div><!--/.service-content-one-->#}
{#            </div><!--/.service-details-->#}
{##}
{#        </div><!--/.container-->#}
{#    </section><!--/.service-->#}
{#    <!--service end-->#}
{#    <!--team end-->#}
{##}
